.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6333,#f6402e);
    
}
.header__navbar{
    display: flex;
    justify-content: space-between;

}
.header__navbar-list{
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
}

.header__navbar-list-item
{
   margin:0 4px;
   position: relative;
   min-height: 20px;
 
   
}

.header__navbar-list-item:hover .header__navbar-user-menu {
    display: block;
    animation: fadein linear 0.5s ;

}
.header__navbar-user {
    display: flex;
    justify-items: center;
    z-index: 4;
}
.header__navbar-user-img {
    width:22px;
    height: 22px;
    border-radius: 50%;
    border:1px solid rgba(0 ,0 ,0 ,0.2);
}
.header__navbar-user-name {
    margin-left: 8px;
    font-size: 1.4rem;
}
.header__navbar-user-menu {
    list-style: none;
    position: absolute;
    padding-left:0;
    top:133%;
    right:0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    z-index: 1;
    box-shadow: 0 1px 10px #ccc;
    display: none;
}
.header__navbar-user-menu::before {
    content: "";
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 4px;
    top:-29px;
}
.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top:-8px; 
    right: 0;
    width: 60%;
    height: 8px;
}
   
    
     
.header__navbar-user-item-separate {
    border: 1px solid #ccc;
    background-color: var(--primary-color);
 
}
.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    display: block;
}
.header__navbar-user-item a:hover {
    background-color: #fafafa;
}
.header__navbar-user-item a:first-child {
    border-top-right-radius:3px;
    border-top-left-radius:3px;
}
.header__navbar-user-item a:last-child {
    border-bottom-right-radius:3px;
    border-bottom-left-radius:3px;
}
    
.header__navbar-list-item--has-notify:hover .header__notify {
    display: block;
}
.header__navbar-list-item--has-qr:hover .header__qr {
    display: block;
}
.header__navbar-list-item-link,
.header__navbar-list-item{
 display: inline-block;
 text-decoration: none;
 font-size: 1.3rem;
 color: var(--white-color);
 font-weight: 150;
}
.header__navbar-list-item-link,
.header__navbar-list-item,
.header__navbar-icon-link
{
    display: inline-flex;
    align-items: center;
}
.header__navbar-list-item-link:hover,
.header__navbar-list-item:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    z-index: 1;
}
.header__navbar-list-item--strong{
    font-weight: 600;
}
.header__navbar-list-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: aliceblue;
    right: -5px;
    top:50%;
    transform: translateY(-50%);
    opacity: 0.4;
}
.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
 
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin-left: 8px;
}
.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
   
}
/* header qr code */
.header__qr {
    width: 220px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 130%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadein ease-in 0.8s;
    box-shadow: 0 1px 10px #ccc;

}
@keyframes headerNotifyGrow {
    from{
        opacity: 0;
       transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__qr::before {
    position: absolute;
    height: 20px;
    width: 100%;
    content:"";
    display: block;
    left: 0;
    top: -12px;

}
.header__qr-img {

}
.header_qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
  height: 20px;
}
/* 2 cachs lấy ra class giống nhau
.header_qr-link:nth-child(n)n là thứ tự bất kì
.header_qr-link:first-child */
.header_qr-link:first-child {
    margin-left: 11px;
}
.header_qr-link:nth-child(2) {
margin-right: 13px;
}
/* header notification */
.header__notify {
    position:absolute;
    top: 210%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    transform-origin: calc(100% - 20px) top ;
    animation:headerNotifyGrow ease-in 0.5s ;
    -webkit-animation:headerNotifyGrow ease-in 0.5s ;
    -moz-animation: headerNotifyGrow ease-in 0.5s;
    -o-animation: headerNotifyGrow ease-in 0.5s;
    will-change: transform,opacity;
    display: none;
    z-index: 1;
}
.header__notify::before {
    /* hoac su dung border-style:solid; border-width:20px 30px; tao ra hinh chu nhat => goc tu  */
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top:-40px;

}
.header__notify::after {
    content: "";
    display: block;
    width: 82px;
    height: 40px;
    position: absolute;
    top:-40px;
    right:0;


}
    
 
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    }
    .header__notify-header h3 {
        color: #999;
        margin: 0;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 40px;
        margin-left: 12px;
        cursor: text;
        user-select: none;
    }
.header__notify-list {
    padding-left: 0;
    }
.header__notify-item {
    display: flex;

    }
    .header__notify-item:hover {
       background-color:#f2f2f2;
    }
    .header__notify-item--viewed {
        background-color: rgba(238, 75, 43, 0.1);
    }

.header__notify-link {
    display: flex;
    padding: 8px;
    text-decoration: none;
     }
     
.header__notify-img {
    width: 48px;
    object-fit: contain;

    
    }
.header__notify-infor {
    margin-left: 8px;
    }
.header__notify-name {
    display: block;
    font-size: 1.6rem;
    line-height: 2;
    color: var(--black-color);
    font-weight: 400;
    }
.header__notify-description {
    font-size: 1.2rem;
    display: block;
    color: #928a88;
   
    }
.header__notify-footer {
   display: flex;

}
.header__notify-footer-btn {
    text-decoration: none;
    margin: auto;
   color: var(--text-color);
   padding: 8px;
   font-size: 1.4rem;
   font-weight: 400;
}
.auth-form {
    width: 456px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading {
    font-weight: 400;
    font-size: 2.2rem;
    color: var(--text-color);
}
.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-color);
}

.auth-form__input {
    height: 40px;
    width: 100%;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus {
    border-color: #777;
}
.auth-form__aside {
    margin-top: 18px;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__controls-back {
    margin-right: 8px;
    background-color: transparent;
}
.auth-form__socials { 
  background-color: #f5f5f5;
  padding:12px 36px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.auth-form__socials-icon {
     font-size: 2rem;
}
.auth-form__socials--facebook {
    background-color: #3a5a98;
    color: var(--white-color);
}
.auth-form__socials--facebook 
.auth-form__socials-icon {
    color: var(--white-color);
}
.auth-form__socials-title {
 margin: 0 24px;
}
.auth-form__socials--google {
    background-color: #fff;
    color: #666;
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;

}
.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}
.auth-form_help-separate {
    display: block;
    height:24px;
    margin: -3px 16px 0;
    border-right: 1px solid var(--border-color);
}
.auth-form__help-forgot {
    color: var(--primary-color);
}
.auth-form__socials-title {
    font-size: 1rem;
}
/* header with search */
.header-with-search {
height: var(--header-with-search-height);
display: flex;
align-items: center;
margin: 0 0 0 4px;
}
.header__logo {
    width: 200px;
}
.shopee-svg-icon {
    width: 150px;
   
}
.header__search {
    flex:1;
    height: 40px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    align-items: center;
    
}
.header__cart-icon {
  color: var(--white-color);
  font-size: 2.6rem;
}

.header__cart-list {
    position: absolute;
    top:calc(100% + 18px);
    right: 0px;
    background-color: #ffffff;
    width: 380px;
    border-radius: 2px;
    box-shadow: 0 1px 10px #ccc;
    display: none;
    animation: fadein ease-in 0.7s;
    cursor: default;
}
.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color:#999;
    font-weight: 400;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 30vh;
    overflow-y: auto;
}
.header__cart-item {
    display: flex;
    padding: 8px 0;
}
.header__cart-item:hover{
    background-color: rgb(250, 242, 242) ;
}
.headr__cart-img {
    width: 42px;
    height: 42px;
    margin-left: 12px;
    border:1px solid var(--border-color)} 
.header__cart-item-infor {
    width: 100%;
    margin-right: 12px;
    margin-left: 12px;
    line-height: 21px;
}

.header__cart-item-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--text-color);
    margin:0;
    overflow: hidden;
    line-height: 2rem;
    height: 4rem;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color);
}
.header__cart-item-multiply {
    font-size: 1rem;
    margin: 0 4px;
    color: #757575;
}
.header__cart-item-quantity {
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}
.header__cart-item-desc {
    color: #757575;
    font-size: 1.3rem;
    font-weight: 300;

}
.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;

}
.header__cart-item-remove:hover {
    cursor: pointer;
    color:var(--primary-color);
}
.header__cart-list::after {
    cursor: pointer;
    content:"";
    position: absolute;
    right: 4px;
    top: -38px;
    border-width: 20px 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-des {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.header__cart-list--no-cart {
    padding:28px 0;
}
.header__cart-no-cart-img {
   
    width: 60%;
    display: none;
}
.header__cart-notice {
    position: absolute;
    top:-7px;
    right:1px;
    padding: 1px 6px ;
    border-radius: 10px;
    border: 2px solid rgb(241, 100, 100);
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.header__cart-des {
   
    font-size: 1.6rem;
    margin-top: 16px;
    font-weight: 400;
    color: var(--text-color);
    display: none;
}
  
.header__cart {
    text-align: center;
    width: 150px;
    
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    z-index: 3;
}
.header__cart-wrap:hover .header__cart-list {
    display: block;
}
.header__cart-veiw-cart {
    float:right;
    margin: 0 12px 12px 0;
}
.header__cart-veiw-cart:hover {
    background-color: #e86b52;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
width: 100%;
height: 100%;
 border: none;
 outline: none;
 color: var(--text-color);
 font-size: 1.6rem;
 margin-left: 16px;
 border-radius: 3px;

}
.header__search-select {
    border-left: 1px solid #ccc;
   padding-left: 20px;
   position: relative;

}
.header__search-select:hover {
    cursor: pointer;

}

.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-select-label {
   font-size: 1.4rem;
   color: var(--text-color);
    }
.header__search-select-icon {
    font-size: 1.4rem;
    color: #4a4a4a;
    margin: 0 14px;
 }
 .header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    margin-right: 3px;
    border-radius: 3px;
    width: 60px;
    outline: none;

 }
 .header__search-btn:hover {
    background-color: #e86b52;
    cursor: pointer;
 }
.header__search-btn-icon {
    font-size: 1.6rem;
    color: #fff;
}
.header__search-option {
    position: absolute;
    right: 0 ;
    top:120%;
    list-style: none;
    width: 141px;
    text-align: right;
    box-shadow: 0 0 3px #ccc;
    padding-left: 0;
    display: none;
    border-radius: 3px;
    animation: fadein ease-in 0.5s;
    z-index: 2;
}
    
    
.header__search-option::after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top:-19px;

    
}
.header__search-option-item {
    background-color: var(--white-color);
    padding :8px;
}
.header__search-option-item:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.header__search-option-item:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

    
.header__search-option-item:hover {
    background-color: #ccc;
    cursor: pointer;
}
.header__search-option-item span {
font-size: 1.4rem;
color: var(--text-color);
text-align: center;
}
.header__search-option-item i {
font-size: 1.2rem;
color: var(--primary-color);
margin: 0 8px;
}
.header__search-input:focus ~ .header__search-history {
    display: block;
    z-index: 2;
}
/* search history */
.header__search-history {
    position: absolute;
    top: 110%;
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0px 1px 5px #999;
    cursor: pointer;
    display: none;
    overflow: hidden;
}
 .header__search-history-heading {
    padding: 6px 32px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
    margin: 0 0;
 }
 .header__search-history-list {
    list-style: none;
    padding-left: 0;
    margin: 0 0;
 }
 .header__search-history-item {
    height: 38px;
    padding: 0 32px;
 }
 
 .header__search-history-item:hover {
    background-color: #f5f5f5fa;
 }
 .header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
 } 
 .app__container {
    background-color: rgb(248, 244, 244);
 }
 .app__content {
    padding-top: 24px;
 }
 .category {
    background-color: var(--white-color);
    border-radius: 2px;
 }
 .category__heading {
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 16px 16px 0 ;
    margin-top:0;
    text-transform: uppercase;
    font-weight: 600;
 }
 
 .category-list {
    padding:0 0 8px 0;
    list-style: none;
    margin-left: 0px;
   

 }
 .category-item {
    position: relative;
 }
 .category-item:first-child::before {
    display: none;
 }
 .category-item::before {
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
    content: "";
    border-top: 1px solid #e1e1e1;
 }
 .category-item--active .category-item__link {
    color: var(--primary-color);
 }

 .category-item__link {
    position: relative;
    padding:8px 20px;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    display: block;
    right: 0;
    transition: right linear 0.2s;
 }
 .category-item__link:hover {
    right: -4px;
    color: var(--primary-color);
 }
 /* home sort fillter */
.home-filter {
    
    display: flex;
    background-color: rgba(0 ,0 ,0 ,0.05);
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.select-input {
    z-index: 1;
}
.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__page {
    align-items: center;
    display: flex;
    margin-left: auto;
}
.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current 
{color: var(--primary-color);
}
.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 32px;
}
.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}
.home-filter__page-btn:nth-child(1){
    border-right:1px solid #eee;
}
.home-filter__page-icon {
    margin: auto;
    color: #555;
    font-size: 1.4rem;
}
.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;

}
.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}
.home-filter__page-control {
    box-shadow:0px 2px 5px #ccc;
} 


/* product item */
.home-product {
    margin-bottom: 40px;
}
.home-product-item

{   
    text-decoration: none;
    display: block;
    position: relative;
    margin-top: 10px;
    background-color: var(--white-color);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0 , 0, 0 , 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0 , 0, 0 , 0.05);
    transform: scale(105%);

}
.home-product-item__img {
    padding-top: 80%;
    background-size:contain;
    background-repeat: no-repeat;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;


}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color:var(--text-color) ;
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    /* kĩ thuật dấu 3 chấm */
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* kĩ thuật dấu 3 chấm khí  chỉ 1 dòng 
    text-overflow : ellipsis;
    white-space: nowrap;*/
}
.home-product-item__price {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
.home-product-item__price-old {
    font-size: 1.4rem;
    margin-left: 10px;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
i.home-product-item__like-icon-fill {
    display: none;
    color: #f63d30;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}
.home-product-item__like {
    font-size: 1.4rem;
}
.home-product-item__rating {
    font-size: 0.8rem;
    color: #d5d5d5;
    margin:1px 6px 0 auto;
}
.home-product-item__star--gold {
    color:var(--star-gold-color);
}
.home-product-item__sold {
    font-size: 1.2rem;
}
.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}
.home-product-item__brand {

}
.home-product-item__origin-name {

}
.home-product-item__favourite {
    position: absolute;
    top:10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-item__favourite span  {
    color: var(--white-color);

}
.home-product-item__favourite::after {
    content:"";
    position: absolute;
    left: 0;
    top: 16px;
    border-top: 3px solid currentColor;
    border-left:4px solid transparent;
    filter:brightness(60%);


}
.home-product-item__favourite i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 4px;
  
}
.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right:0;
    width: 40px;
    height: 32px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.8);
    border-top-left-radius: 3px;
}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    border-width: 0 20px 3px;
    /* bỏ border trên */
    bottom: -3px;
    left: 0;
    border-style: solid;
    border-color:transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94) ;
}
.home-product-item__sale-off-percent {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 600;
}
.home-product__pagination {
    margin: 48px 0 32px 0;
}
/* footer */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--text-color);
}
.footer-list {
    padding-left: 0;
    list-style: none;
}
.footer-item__link {
    display: flex;
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 4px 0;
    align-items: center;

}
.footer-item__link:hover {
   color: var(--primary-color);
}
.footer-item__icon {
    font-size: 1.6rem;
    margin: -2px 8px 0 0;
}
.footer__dowload {
    display: flex;
}
.footer__dowload-qr {
    
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer__dowload-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img {
    height: 16px;
}
.footer__download-app-link {
    text-decoration: none;
    color: transparent;
}
.footer__bottom-grid {
    padding: 8px 0;
    background-color: #f5f5f5;
    margin-top: 36px;
}
.footer__text {
    margin: 0 ;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}

